
<div class="loader img" style="display:none">
    <p><img src="./Images/Spinner.gif" style="height:100px; width:100px" ></p>
</div>

<div class="service-form">
    <div class="form-heading">
        <h3><b>{{FromRsText}} /-</b> all inclusive fees</h3>
        <p class="text-justify">{{EMIText}} for 12 months*</p>
    </div>
    <form name="enquiryForm">
        <div class="sidebar-form ">
            <div class="input-field required">
                <i class="fa fa-user"></i>
                    <input class="form-input " type="text"  placeholder="Name" ng-model="Name"  maxlength="40" required/>
            </div>
            <div class="input-field required">
                <i class="fa fa-envelope"></i>
                <input class="form-input" type="email"  placeholder="Email" ng-model="Email" maxlength="50" required/>
            </div>
            <div class="input-field required">
                <i class="fa fa-phone"></i>
                <input class="form-input" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  placeholder="Phone" ng-model="Phone"  maxlength="12" required />
            </div>
            <div class="input-field">
                <input type="submit" value="Get Started" class="btn" ng-click="Savedata(enquiryForm)" />
            </div>
        </div>
    </form>
</div>
